.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: #fff;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.header_container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* display: flex;
  justify-content: space-between;
} */
*/ .header_left ul li,
.header_right ul li {
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s;
}
.header_left img {
  height: 20px;
  margin-right: 20px;
}
.header_right ul {
  /* width:100%; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}
