.footer_outer_container{
    width: 60%;
    margin: 0 auto;
    color: gray;
}
.footer_media ul{
    display: flex;
    list-style: none;
}
.footer_media li{
    margin-right: 10px;
}
.footer_data{
    display: flex;
   justify-content: space-between;
}
.footer_data ul{
    display: flex;
    list-style: none;
    margin: 10px 0;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li{
    cursor: pointer;
}
.service_code{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    border: #fff 1px solid;
    margin: 10px 0;
}

.copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}